/* @import "~antd/dist/antd.css"; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Add your custom styles below */

:root {
  --theme: #2970ff;
  --black: #000;
  --white: #fff;
  --shadow: 0px 0px 30px 8px rgba(227,227,227,0.75);
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: "Montserrat", sans-serif;
}

.custom-input{
  border: 0px;
  border-bottom: 1px solid #000;
  border-radius: 0;
  width:100%;
  padding: 0rem;
  margin-top: -1rem !important;
}
.custom-input:focus{
  outline: none !important;
  opacity: 1;
  transition: all 0.3s;
}
.custom-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

/* #description{
  padding: 0rem;
  margin: 0;
} */
.select-input-2 > div {
  border-width: 0px !important;
  border-bottom-width: 1px !important;
  border-radius: 0 !important;
  border-color: #000 !important;
}

.select-input-2.ant-select-focused .ant-select-selector {
  outline: none !important;
  box-shadow: none !important;
}

.ant-form-item-has-error .custom-input {
  border: none !important; /* Remove all borders */
  border-bottom: 2px solid red !important; /* Add only the bottom border in red */
  box-shadow: none !important; /* Remove any shadow */
}
